.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4rem;
  }
  
  .text-container {
    flex: 1;
    justify-self: center;
    margin-left: 3rem;
  }
   
  #projects h2{
    color: aliceblue;
  }
  
  

.gallery {
    --s: 220px;
    --g: 10px;  
    --f: 2;
    
    flex: 1; 
    justify-self: flex-end;
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    max-width: 50%;
    grid-template-columns: repeat(3,auto);
    margin: 3rem;
  }
  
  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%) blur(0.5px) brightness(0.85);
    transition: .35s linear;
    will-change: filter, width, height;
    transform: translateZ(0); /* Force GPU acceleration */
  }
  
  .gallery img:hover{
    filter: grayscale(0) blur(0px) brightness(1);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }
  
  @media screen and (max-width: 768px) {
    .gallery-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      margin: auto;
      padding: 0px;
    }
    .gallery{
      margin: 0px;
      margin-top: 2rem;
      max-width: 100%;
      grid-template-columns: repeat(3,auto);
      gap: 0;
    }

    .gallery img:hover{
      width:  100%;
    }
    #projects{
      height: 100vh;
      align-items: center;
  }
  
  }