/* App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Full height sections */
section {
  height: 100vh; /* Set section height to 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About section styles */
.about-container {
  text-align: center;
}

/* Projects section styles */
.projects-container {
  text-align: center;
}

.project-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.project-card h3 {
  margin-top: 0;
}

/* Contact section styles */
.contact-container {
  text-align: center;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container ul li {
  margin-bottom: 10px;
}
